/* Container Layout */
body{
  background-color: #e4d4d1;
}

.register-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4d4d1;
  justify-content: center;
  margin-left: 200px;
  margin-top: 0;
  height: auto;
}

@media (min-width: 768px) {
  .register-container {
    flex-direction: row;
  }
}

/* Left Section - Form */
.form-section {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

/* Logo & Title */
.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.logo {
  width: 60px;
  height: 60px;
}

.title {
  font-size: 35px;
  font-family: "Finger Paint", sans-serif;
  font-weight: bold;
  color: #875e49 ;
}

/* Titles */
.form-title {
  font-size: 32px;
  font-weight: bold;
  color: #875e49;
  margin-bottom: 5px;
}

.subtitle {
  color: #bf7e4f;
  font-weight: 400px;
  margin-bottom: 20px;
}

/* Form Styling */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #be9a80 ;
  color: #b38173;
  font-size: 16px;
}

.register-form input::placeholder {
  color: #7a4d41;
}

.register-form button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #875e49 ;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #6f4a3c ;
}

/* Footer Text */
.footer-text {
  margin-top: 15px;
  font-size: 14px;
  color: #875e49;
}

.footer-text a {
  color: #bf7e4f;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

/* Right Section - Background Image */

  .image-section{
    margin-left: 50px;
  }

@media (max-width: 767px) {
  .register-container{
    margin-left: 17px;
  }

  .image-section {
    height: 300px;
    margin-top: 20px;
    justify-content: center;
  }
}
